user/lib/flows/Casa
[{"id":"cd528da6.32ad7","type":"mqtt-broker-rgbleds","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"72a23f1f.8d5dc","type":"mqtt-broker-presencia","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"f0d4ce2f.0f2b3","type":"mqtt-broker-servo","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"b7553e2f.48aac","type":"mqtt-broker-rfid","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"7cbae6b9.834518","type":"mqtt-broker-ldr","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"46e419d7.b91be8","type":"mqtt-broker-temp","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"29812299.d67ede","type":"temp-hum","name":"Ambiente","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"46e419d7.b91be8","x":373.75000762939453,"y":220.00000381469727,"z":"bdb8012b.4248","wires":[["6179b881.9e8648","d46f81ff.2b908"],["369506d.fc96afa","c0573137.3fa8d"]]},{"id":"6179b881.9e8648","type":"debug","name":"","active":true,"console":"false","complete":"false","x":603.2500076293945,"y":205.00000381469727,"z":"bdb8012b.4248","wires":[]},{"id":"369506d.fc96afa","type":"debug","name":"","active":true,"console":"false","complete":"false","x":619.7500076293945,"y":294.5000057220459,"z":"bdb8012b.4248","wires":[]},{"id":"47efb4c9.b8104c","type":"ldr","name":"Sensor de Iluminación","iluminacionselec":"440","idmodulo":"40BDA1CA1","idcentral":"40CC01EF","broker":"7cbae6b9.834518","x":478.50000762939453,"y":125.75000190734863,"z":"bdb8012b.4248","wires":[["4fe2ee3a.b01d1"],[]]},{"id":"43a263cf.bc5d9c","type":"rfid","name":"RFID","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"b7553e2f.48aac","x":383.75000381469727,"y":407.7500057220459,"z":"bdb8012b.4248","wires":[["3c1def37.c3e21"]]},{"id":"6f66c5e2.90993c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1155.750015258789,"y":545.2500076293945,"z":"bdb8012b.4248","wires":[]},{"id":"d46f81ff.2b908","type":"template","name":"Temperatura","field":"payload","format":"json","template":"{\"type\":\"temp\",\"payload\":{{payload}}}","x":796.0000076293945,"y":203.25000381469727,"z":"bdb8012b.4248","wires":[["a9d368e4.562c98"]]},{"id":"c0573137.3fa8d","type":"template","name":"Hum","field":"payload","format":"json","template":"{\"type\":\"hum\", \"payload\":{{payload}}}","x":787.7500114440918,"y":267.5000057220459,"z":"bdb8012b.4248","wires":[["df946147.206ba"]]},{"id":"a9d368e4.562c98","type":"json","name":"","x":936.7500152587891,"y":205.25000381469727,"z":"bdb8012b.4248","wires":[["b850114a.47aff"]]},{"id":"df946147.206ba","type":"json","name":"","x":944.5000152587891,"y":268.0000057220459,"z":"bdb8012b.4248","wires":[["b850114a.47aff"]]},{"id":"b850114a.47aff","type":"monitor","name":"Monitor","valor":"","x":1169.000015258789,"y":209.75000476837158,"z":"bdb8012b.4248","wires":[]},{"id":"4fe2ee3a.b01d1","type":"template","name":"Luz","field":"payload","format":"json","template":"{\"type\":\"luz\",\"payload\":{{payload}}}","x":707.25,"y":118.75,"z":"bdb8012b.4248","wires":[["51d15f8a.ae2ea"]]},{"id":"51d15f8a.ae2ea","type":"json","name":"","x":844.25,"y":113.75,"z":"bdb8012b.4248","wires":[["b850114a.47aff"]]},{"id":"63c855fc.9c37ac","type":"servomotor","name":"Servo","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"f0d4ce2f.0f2b3","x":513.25,"y":600.75,"z":"bdb8012b.4248","wires":[[]]},{"id":"a6723a41.598dc8","type":"inject","name":"","topic":"","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":259.25,"y":596.75,"z":"bdb8012b.4248","wires":[["63c855fc.9c37ac"]]},{"id":"cc6fa52a.339058","type":"presencia","name":"Presencia","idmodulo":"40CC01FA","idcentral":"40CC01EF","broker":"72a23f1f.8d5dc","x":236.25,"y":711.75,"z":"bdb8012b.4248","wires":[["5f7c7f16.a0838"]]},{"id":"5f7c7f16.a0838","type":"debug","name":"","active":true,"console":"false","complete":"false","x":492.25,"y":712.75,"z":"bdb8012b.4248","wires":[]},{"id":"2786dd31.d87922","type":"rgbleds","sid":"","f1":"","f2":"","f3":"","hexa":"1c669c","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"cd528da6.32ad7","x":478.25,"y":810.75,"z":"bdb8012b.4248","wires":[]},{"id":"b9d990c9.46267","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":274.25,"y":813.75,"z":"bdb8012b.4248","wires":[["2786dd31.d87922"]]},{"id":"3c1def37.c3e21","type":"switch","name":"Identificar","property":"payload","rules":[{"t":"eq","v":"0E008939A5"},{"t":"eq","v":"0E008931AB"},{"t":"else"}],"checkall":"true","outputs":3,"x":547.5000076293945,"y":407.5000057220459,"z":"bdb8012b.4248","wires":[["f5975f3b.0a68a"],["e16bc624.1e9438"],["618aba7c.9e7544"]]},{"id":"f5975f3b.0a68a","type":"rgbleds","sid":"","f1":"","f2":"","f3":"","hexa":"1c669c","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"cd528da6.32ad7","x":883.7500133514404,"y":393.7500057220459,"z":"bdb8012b.4248","wires":[]},{"id":"e16bc624.1e9438","type":"rgbleds","sid":"","f1":"","f2":"","f3":"","hexa":"1c669c","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"cd528da6.32ad7","x":887.5,"y":436.25,"z":"bdb8012b.4248","wires":[]},{"id":"618aba7c.9e7544","type":"rgbleds","sid":"","f1":"","f2":"","f3":"","hexa":"1c669c","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"cd528da6.32ad7","x":891.25,"y":480,"z":"bdb8012b.4248","wires":[]},{"id":"e350aca1.1caf5","type":"servomotor","name":"Servo","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"f0d4ce2f.0f2b3","x":887.5000114440918,"y":571.2500076293945,"z":"bdb8012b.4248","wires":[[]]}]