user/lib/flows/casa1
[{"id":"7cbae6b9.834518","type":"mqtt-broker-ldr","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"46e419d7.b91be8","type":"mqtt-broker-temp","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"b7553e2f.48aac","type":"mqtt-broker-rfid","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"f0d4ce2f.0f2b3","type":"mqtt-broker-servo","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"cd528da6.32ad7","type":"mqtt-broker-rgbleds","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"f5975f3b.0a68a","type":"rgbleds","sid":"","f1":"","f2":"","f3":"","hexa":"1c669c","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"cd528da6.32ad7","x":891.2500152587891,"y":367.5000057220459,"z":"bdb8012b.4248","wires":[]},{"id":"e16bc624.1e9438","type":"rgbleds","sid":"","f1":"","f2":"","f3":"","hexa":"1c669c","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"cd528da6.32ad7","x":911.2500152587891,"y":428.75000619888306,"z":"bdb8012b.4248","wires":[]},{"id":"618aba7c.9e7544","type":"rgbleds","sid":"","f1":"","f2":"","f3":"","hexa":"1c669c","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"cd528da6.32ad7","x":932.5000114440918,"y":487.50000762939453,"z":"bdb8012b.4248","wires":[]},{"id":"6f66c5e2.90993c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1162.000015258789,"y":557.7500095367432,"z":"bdb8012b.4248","wires":[]},{"id":"e350aca1.1caf5","type":"servomotor","name":"Servo","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"f0d4ce2f.0f2b3","x":971.2500152587891,"y":556.2500076293945,"z":"bdb8012b.4248","wires":[["6f66c5e2.90993c"]]},{"id":"43a263cf.bc5d9c","type":"rfid","name":"RFID","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"b7553e2f.48aac","x":383.75000381469727,"y":407.7500057220459,"z":"bdb8012b.4248","wires":[["3c1def37.c3e21"]]},{"id":"3c1def37.c3e21","type":"switch","name":"Identificar","property":"payload","rules":[{"t":"eq","v":"0E008939A5"},{"t":"eq","v":"0E008931AB"},{"t":"else"}],"checkall":"true","outputs":3,"x":547.5000076293945,"y":407.5000057220459,"z":"bdb8012b.4248","wires":[["f5975f3b.0a68a","c54d9edc.3ab26"],["e16bc624.1e9438","c54d9edc.3ab26"],["618aba7c.9e7544","c54d9edc.3ab26"]]},{"id":"29812299.d67ede","type":"temp-hum","name":"Ambiente","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"46e419d7.b91be8","x":373.75000762939453,"y":220.00000381469727,"z":"bdb8012b.4248","wires":[["6179b881.9e8648","d46f81ff.2b908"],["369506d.fc96afa","c0573137.3fa8d"]]},{"id":"6179b881.9e8648","type":"debug","name":"","active":true,"console":"false","complete":"false","x":603.2500076293945,"y":205.00000381469727,"z":"bdb8012b.4248","wires":[]},{"id":"369506d.fc96afa","type":"debug","name":"","active":true,"console":"false","complete":"false","x":619.7500076293945,"y":294.5000057220459,"z":"bdb8012b.4248","wires":[]},{"id":"47efb4c9.b8104c","type":"ldr","name":"Sensor de Iluminación","iluminacionselec":"440","idmodulo":"40BDA1CA1","idcentral":"40CC01EF","broker":"7cbae6b9.834518","x":478.50000762939453,"y":125.75000190734863,"z":"bdb8012b.4248","wires":[["4fe2ee3a.b01d1"],[]]},{"id":"d46f81ff.2b908","type":"template","name":"Temperatura","field":"payload","format":"json","template":"{\"type\":\"temp\",\"payload\":{{payload}}}","x":796.0000076293945,"y":203.25000381469727,"z":"bdb8012b.4248","wires":[["a9d368e4.562c98"]]},{"id":"c0573137.3fa8d","type":"template","name":"Hum","field":"payload","format":"json","template":"{\"type\":\"hum\", \"payload\":{{payload}}}","x":787.7500114440918,"y":267.5000057220459,"z":"bdb8012b.4248","wires":[["df946147.206ba"]]},{"id":"a9d368e4.562c98","type":"json","name":"","x":936.7500152587891,"y":205.25000381469727,"z":"bdb8012b.4248","wires":[["b850114a.47aff"]]},{"id":"df946147.206ba","type":"json","name":"","x":944.5000152587891,"y":268.0000057220459,"z":"bdb8012b.4248","wires":[["b850114a.47aff"]]},{"id":"b850114a.47aff","type":"monitor","name":"Monitor","valor":"","x":1169.000015258789,"y":209.75000476837158,"z":"bdb8012b.4248","wires":[]},{"id":"4fe2ee3a.b01d1","type":"template","name":"Luz","field":"payload","format":"json","template":"{\"type\":\"luz\",\"payload\":{{payload}}}","x":707.25,"y":118.75,"z":"bdb8012b.4248","wires":[["51d15f8a.ae2ea"]]},{"id":"51d15f8a.ae2ea","type":"json","name":"","x":844.25,"y":113.75,"z":"bdb8012b.4248","wires":[["b850114a.47aff"]]},{"id":"c54d9edc.3ab26","type":"constante","name":"Constante","valor":"90","x":796.2500114440918,"y":548.7500076293945,"z":"bdb8012b.4248","wires":[[],["e350aca1.1caf5"]]}]