user/lib/flows/casa2
[{"id":"7cbae6b9.834518","type":"mqtt-broker-ldr","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"46e419d7.b91be8","type":"mqtt-broker-temp","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"b7553e2f.48aac","type":"mqtt-broker-rfid","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"f0d4ce2f.0f2b3","type":"mqtt-broker-servo","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"cd528da6.32ad7","type":"mqtt-broker-rgbleds","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"a3fd00b5.5c03","type":"rgbleds","sid":"","f1":"","f2":"","f3":"","hexa":"1c669c","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"cd528da6.32ad7","x":832.5000152587891,"y":447.5000066757202,"z":"bdb8012b.4248","wires":[]},{"id":"ac4d98aa.53b268","type":"rgbleds","sid":"","f1":"","f2":"","f3":"","hexa":"1c669c","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"cd528da6.32ad7","x":830.0000114440918,"y":501.25000762939453,"z":"bdb8012b.4248","wires":[]},{"id":"44333e20.bbccc","type":"rgbleds","sid":"","f1":"","f2":"","f3":"","hexa":"1c669c","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"cd528da6.32ad7","x":835.0000114440918,"y":553.7500085830688,"z":"bdb8012b.4248","wires":[]},{"id":"6f51d13e.90ae3","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1078.2500114440918,"y":650.2500152587891,"z":"bdb8012b.4248","wires":[]},{"id":"d91d579.f26e2a8","type":"servomotor","name":"Servo","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"f0d4ce2f.0f2b3","x":887.5000114440918,"y":648.7500133514404,"z":"bdb8012b.4248","wires":[["6f51d13e.90ae3"]]},{"id":"98ee14a9.6711e8","type":"rfid","name":"RFID","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"b7553e2f.48aac","x":300,"y":500.2500114440918,"z":"bdb8012b.4248","wires":[["cdff01bd.3201"]]},{"id":"cdff01bd.3201","type":"switch","name":"Identificar","property":"payload","rules":[{"t":"eq","v":"0E008939A5"},{"t":"eq","v":"0E008931AB"},{"t":"else"}],"checkall":"true","outputs":3,"x":463.75000381469727,"y":500.0000114440918,"z":"bdb8012b.4248","wires":[["a3fd00b5.5c03","7a2ae35b.85d51c","c75957e.f38a6a8"],["ac4d98aa.53b268","7a2ae35b.85d51c","79e2b0ee.861d5"],["44333e20.bbccc","7a2ae35b.85d51c","2e89c5f2.d1763a"]]},{"id":"67a4122d.985bec","type":"temp-hum","name":"Ambiente","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"46e419d7.b91be8","x":362.50000381469727,"y":312.5000047683716,"z":"bdb8012b.4248","wires":[["2938197d.d6c7e6"],["10831589.ef7cea"]]},{"id":"25fb9010.da047","type":"ldr","name":"Sensor de Iluminación","iluminacionselec":"440","idmodulo":"40BDA1CA1","idcentral":"40CC01EF","broker":"7cbae6b9.834518","x":394.75000381469727,"y":218.25000762939453,"z":"bdb8012b.4248","wires":[["b13a1609.4ec5e8"],[]]},{"id":"2938197d.d6c7e6","type":"template","name":"Temperatura","field":"payload","format":"json","template":"{\"type\":\"temp\",\"payload\":{{payload}}}","x":712.2500038146973,"y":295.75000953674316,"z":"bdb8012b.4248","wires":[["f5a1f392.0a5e1"]]},{"id":"10831589.ef7cea","type":"template","name":"Hum","field":"payload","format":"json","template":"{\"type\":\"hum\", \"payload\":{{payload}}}","x":704.0000076293945,"y":360.0000114440918,"z":"bdb8012b.4248","wires":[["95b81307.6a47f"]]},{"id":"f5a1f392.0a5e1","type":"json","name":"","x":853.0000114440918,"y":297.75000953674316,"z":"bdb8012b.4248","wires":[["e8a34745.175cb8"]]},{"id":"95b81307.6a47f","type":"json","name":"","x":860.7500114440918,"y":360.5000114440918,"z":"bdb8012b.4248","wires":[["e8a34745.175cb8"]]},{"id":"e8a34745.175cb8","type":"monitor","name":"Monitor","valor":"","x":1085.2500114440918,"y":302.2500104904175,"z":"bdb8012b.4248","wires":[]},{"id":"b13a1609.4ec5e8","type":"template","name":"Luz","field":"payload","format":"json","template":"{\"type\":\"luz\",\"payload\":{{payload}}}","x":623.4999961853027,"y":211.2500057220459,"z":"bdb8012b.4248","wires":[["42ec41e5.bd13c"]]},{"id":"42ec41e5.bd13c","type":"json","name":"","x":760.4999961853027,"y":206.2500057220459,"z":"bdb8012b.4248","wires":[["e8a34745.175cb8"]]},{"id":"7a2ae35b.85d51c","type":"constante","name":"Constante","valor":"150","x":712.5000076293945,"y":641.2500133514404,"z":"bdb8012b.4248","wires":[[],["d91d579.f26e2a8"]]},{"id":"c75957e.f38a6a8","type":"delay","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":673.7500076293945,"y":712.5000114440918,"z":"bdb8012b.4248","wires":[["db0d4ebe.24f2b"]]},{"id":"79e2b0ee.861d5","type":"delay","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":671.2500076293945,"y":761.2500114440918,"z":"bdb8012b.4248","wires":[["db0d4ebe.24f2b"]]},{"id":"2e89c5f2.d1763a","type":"delay","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":673.7500076293945,"y":808.7500114440918,"z":"bdb8012b.4248","wires":[["db0d4ebe.24f2b"]]},{"id":"db0d4ebe.24f2b","type":"constante","name":"Constante","valor":"30","x":896.2500152587891,"y":746.2500114440918,"z":"bdb8012b.4248","wires":[[],["d91d579.f26e2a8"]]}]