user/lib/flows/casaestacionamiento
[{"id":"72a23f1f.8d5dc","type":"mqtt-broker-presencia","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"7cbae6b9.834518","type":"mqtt-broker-ldr","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"46e419d7.b91be8","type":"mqtt-broker-temp","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"b7553e2f.48aac","type":"mqtt-broker-rfid","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"f0d4ce2f.0f2b3","type":"mqtt-broker-servo","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"cd528da6.32ad7","type":"mqtt-broker-rgbleds","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"3dfaf557.c2050a","type":"rgbleds","sid":"","f1":"","f2":"","f3":"","hexa":"ff0000","idmodulo":"40C0491D","idcentral":"40CC01EF","broker":"cd528da6.32ad7","x":643.7500305175781,"y":381.2500057220459,"z":"a735c73b.58ca38","wires":[]},{"id":"3443f1bd.cbbc0e","type":"rgbleds","sid":"","f1":"","f2":"","f3":"","hexa":"0061a6","idmodulo":"40C0491D","idcentral":"40CC01EF","broker":"cd528da6.32ad7","x":643.7500305175781,"y":446.2500071525574,"z":"a735c73b.58ca38","wires":[]},{"id":"d7d700ea.2829","type":"servomotor","name":"Servo","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"f0d4ce2f.0f2b3","x":698.7500114440918,"y":591.2500066757202,"z":"a735c73b.58ca38","wires":[[]]},{"id":"96c28858.693d78","type":"rfid","name":"RFID","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"b7553e2f.48aac","x":111.25,"y":442.7500047683716,"z":"a735c73b.58ca38","wires":[["ebd6c9c.f142938","aa5226ba.55add8"]]},{"id":"ebd6c9c.f142938","type":"switch","name":"Identificar","property":"payload","rules":[{"t":"eq","v":"0E008931ABB"},{"t":"eq","v":"300026A6355"},{"t":"eq","v":"0E008939A55"}],"checkall":"true","outputs":3,"x":275.00000381469727,"y":442.5000047683716,"z":"a735c73b.58ca38","wires":[["3dfaf557.c2050a","aa9ac109.55654","836c66b4.7c9398"],["3443f1bd.cbbc0e","aa9ac109.55654","2f57ccb8.d0a834"],["ae5de65d.51a218","88d1e1fd.772e2","aa9ac109.55654"]]},{"id":"2cb098e5.d34f68","type":"temp-hum","name":"Ambiente","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"46e419d7.b91be8","x":173.75000381469727,"y":254.99999809265137,"z":"a735c73b.58ca38","wires":[["4d0ff558.b2f00c"],["4e918f33.b16e7"]]},{"id":"57aec331.a8513c","type":"ldr","name":"Sensor de Iluminación","iluminacionselec":"40","idmodulo":"40BDA1CA1","idcentral":"40CC01EF","broker":"7cbae6b9.834518","x":206.00000381469727,"y":160.75000095367432,"z":"a735c73b.58ca38","wires":[["f8060821.07f9f8"],[]]},{"id":"4d0ff558.b2f00c","type":"template","name":"Temperatura","field":"payload","format":"json","template":"{\"type\":\"temp\",\"payload\":{{payload}}}","x":523.5000038146973,"y":238.25000286102295,"z":"a735c73b.58ca38","wires":[["7d81f651.827e08"]]},{"id":"4e918f33.b16e7","type":"template","name":"Hum","field":"payload","format":"json","template":"{\"type\":\"hum\", \"payload\":{{payload}}}","x":515.2500076293945,"y":302.5000047683716,"z":"a735c73b.58ca38","wires":[["490be800.b6f418"]]},{"id":"7d81f651.827e08","type":"json","name":"","x":664.2500114440918,"y":240.25000286102295,"z":"a735c73b.58ca38","wires":[["8741b2f2.78be5"]]},{"id":"490be800.b6f418","type":"json","name":"","x":672.0000114440918,"y":303.0000047683716,"z":"a735c73b.58ca38","wires":[["8741b2f2.78be5"]]},{"id":"8741b2f2.78be5","type":"monitor","name":"Monitor","valor":"","x":896.5000114440918,"y":244.75000381469727,"z":"a735c73b.58ca38","wires":[]},{"id":"f8060821.07f9f8","type":"template","name":"Luz","field":"payload","format":"json","template":"{\"type\":\"luz\",\"payload\":{{payload}}}","x":434.74999618530273,"y":153.74999904632568,"z":"a735c73b.58ca38","wires":[["5bc94a7b.a436b4"]]},{"id":"5bc94a7b.a436b4","type":"json","name":"","x":571.7499961853027,"y":148.74999904632568,"z":"a735c73b.58ca38","wires":[["8741b2f2.78be5"]]},{"id":"aa9ac109.55654","type":"constante","name":"Constante","valor":"30","x":523.7500076293945,"y":583.7500066757202,"z":"a735c73b.58ca38","wires":[[],["d7d700ea.2829"]]},{"id":"836c66b4.7c9398","type":"delay","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":485.00000762939453,"y":655.0000047683716,"z":"a735c73b.58ca38","wires":[["458ab167.ba755"]]},{"id":"2f57ccb8.d0a834","type":"delay","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":482.50000762939453,"y":703.7500047683716,"z":"a735c73b.58ca38","wires":[["458ab167.ba755"]]},{"id":"458ab167.ba755","type":"constante","name":"Constante","valor":"140","x":707.5000152587891,"y":688.7500047683716,"z":"a735c73b.58ca38","wires":[[],["d7d700ea.2829"]]},{"id":"aa5226ba.55add8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":247.50001525878906,"y":583.75,"z":"a735c73b.58ca38","wires":[]},{"id":"ae5de65d.51a218","type":"rgbleds","sid":"","f1":"","f2":"","f3":"","hexa":"3ea805","idmodulo":"40C0491D","idcentral":"40CC01EF","broker":"cd528da6.32ad7","x":638.7500305175781,"y":506.25000762939453,"z":"a735c73b.58ca38","wires":[]},{"id":"88d1e1fd.772e2","type":"delay","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":465.00001525878906,"y":770,"z":"a735c73b.58ca38","wires":[["458ab167.ba755"]]},{"id":"feea0fa8.0115f","type":"presencia","name":"Presencia","idmodulo":"40CC01FA","idcentral":"40CC01EF","broker":"72a23f1f.8d5dc","x":208.75,"y":1129.1071376800537,"z":"a735c73b.58ca38","wires":[["902f662e.6fd098","9555ec0e.6aaa1","975d178b.68a2e8"]]},{"id":"902f662e.6fd098","type":"switch","name":"Compara","property":"payload","rules":[{"t":"eq","v":"1"}],"checkall":"true","outputs":1,"x":401.7658348083496,"y":1031.1705513000488,"z":"a735c73b.58ca38","wires":[["1453d1b3.ebac2e"]]},{"id":"1453d1b3.ebac2e","type":"constante","name":"Constante","valor":"180","x":588.5912590026855,"y":1058.4721908569336,"z":"a735c73b.58ca38","wires":[["9e05c4ee.61fa38"],["923e978e.6dc168"]]},{"id":"9555ec0e.6aaa1","type":"switch","name":"Compara","property":"payload","rules":[{"t":"eq","v":"0"}],"checkall":"true","outputs":1,"x":373.0356979370117,"y":1248.4721603393555,"z":"a735c73b.58ca38","wires":[["faad902a.05527"]]},{"id":"6e1d2808.91e2d8","type":"constante","name":"Constante","valor":"90","x":676.369083404541,"y":1210.6944179534912,"z":"a735c73b.58ca38","wires":[[],["923e978e.6dc168"]]},{"id":"678b7071.98749","type":"contador","name":"Counter","valor":"10","noti":"20","x":1004.146785736084,"y":904.0277366638184,"z":"a735c73b.58ca38","wires":[[],["979bdff5.68642"],[]]},{"id":"9e05c4ee.61fa38","type":"incremento","name":"Incremento","x":823.0356483459473,"y":939.583288192749,"z":"a735c73b.58ca38","wires":[["678b7071.98749"]]},{"id":"60a2e50b.9f5d1c","type":"decremento","name":"Decremento","x":823.0356712341309,"y":886.25,"z":"a735c73b.58ca38","wires":[["678b7071.98749"]]},{"id":"fd159099.02ea7","type":"inject","name":"","topic":"","payload":"Decremento","payloadType":"string","repeat":"","crontab":"","once":false,"x":618.5912437438965,"y":888.4721908569336,"z":"a735c73b.58ca38","wires":[["9e05c4ee.61fa38"]]},{"id":"979bdff5.68642","type":"template","name":"Conta","field":"payload","format":"json","template":"{\"type\":\"conta\", \"payload\":{{payload}}}","x":1084.1468811035156,"y":1032.9166431427002,"z":"a735c73b.58ca38","wires":[["cc3afd0e.33c5"]]},{"id":"cc3afd0e.33c5","type":"json","name":"","x":1213.0357074737549,"y":1031.8055324554443,"z":"a735c73b.58ca38","wires":[["8741b2f2.78be5"]]},{"id":"975d178b.68a2e8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":599.7023887634277,"y":1409.5833040873208,"z":"a735c73b.58ca38","wires":[]},{"id":"ae9bef2f.51641","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":990.813499874539,"y":1187.3610818650986,"z":"a735c73b.58ca38","wires":[]},{"id":"923e978e.6dc168","type":"servomotor","name":"Servo","idmodulo":"40CC01FA","idcentral":"40CC01EF","broker":"f0d4ce2f.0f2b3","x":787.4801750183105,"y":1139.5833263397217,"z":"a735c73b.58ca38","wires":[["ae9bef2f.51641"]]},{"id":"faad902a.05527","type":"delay","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":535.2579002380371,"y":1270.6943893432617,"z":"a735c73b.58ca38","wires":[["6e1d2808.91e2d8"]]}]