user/lib/flows/casadef
[{"id":"7cbae6b9.834518","type":"mqtt-broker-ldr","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"46e419d7.b91be8","type":"mqtt-broker-temp","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"b7553e2f.48aac","type":"mqtt-broker-rfid","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"f0d4ce2f.0f2b3","type":"mqtt-broker-servo","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"cd528da6.32ad7","type":"mqtt-broker-rgbleds","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"f45c1b30.0ba3e8","type":"rgbleds","sid":"","f1":"","f2":"","f3":"","hexa":"ff0000","idmodulo":"40C0491D","idcentral":"40CC01EF","broker":"cd528da6.32ad7","x":887.5000152587891,"y":401.2500057220459,"z":"bdb8012b.4248","wires":[]},{"id":"576a5d55.a895a4","type":"rgbleds","sid":"","f1":"","f2":"","f3":"","hexa":"0061a6","idmodulo":"40C0491D","idcentral":"40CC01EF","broker":"cd528da6.32ad7","x":887.5000152587891,"y":466.2500071525574,"z":"bdb8012b.4248","wires":[]},{"id":"ca39995.f35c668","type":"servomotor","name":"Servo","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"f0d4ce2f.0f2b3","x":942.4999961853027,"y":611.2500066757202,"z":"bdb8012b.4248","wires":[[]]},{"id":"5da5a54.fa25a5c","type":"rfid","name":"RFID","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"b7553e2f.48aac","x":354.99998474121094,"y":462.7500047683716,"z":"bdb8012b.4248","wires":[["2326a317.dcd95c","50ea7a8b.af1584"]]},{"id":"2326a317.dcd95c","type":"switch","name":"Identificar","property":"payload","rules":[{"t":"eq","v":"0E008931ABB"},{"t":"eq","v":"300026A6355"},{"t":"eq","v":"0E008939A55"}],"checkall":"true","outputs":3,"x":518.7499885559082,"y":462.5000047683716,"z":"bdb8012b.4248","wires":[["f45c1b30.0ba3e8","413e75c7.bec18c","385e8b10.c7a174"],["576a5d55.a895a4","413e75c7.bec18c","fe574c00.01a8b"],["cc4f97cb.33b068","74dba458.8b245c","413e75c7.bec18c"]]},{"id":"7ff00763.800ff8","type":"temp-hum","name":"Ambiente","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"46e419d7.b91be8","x":417.4999885559082,"y":274.99999809265137,"z":"bdb8012b.4248","wires":[["986c3ebe.6793c"],["3331a6fd.ccce5a"]]},{"id":"a2cb139b.5d34f","type":"ldr","name":"Sensor de Iluminación","iluminacionselec":"40","idmodulo":"40BDA1CA1","idcentral":"40CC01EF","broker":"7cbae6b9.834518","x":449.7499885559082,"y":180.75000095367432,"z":"bdb8012b.4248","wires":[["7d6956f3.8296a8","4528e94a.bad718"],["c756ac0e.38a95"]]},{"id":"986c3ebe.6793c","type":"template","name":"Temperatura","field":"payload","format":"json","template":"{\"type\":\"temp\",\"payload\":{{payload}}}","x":767.2499885559082,"y":258.25000286102295,"z":"bdb8012b.4248","wires":[["8efdf129.71021"]]},{"id":"3331a6fd.ccce5a","type":"template","name":"Hum","field":"payload","format":"json","template":"{\"type\":\"hum\", \"payload\":{{payload}}}","x":758.9999923706055,"y":322.5000047683716,"z":"bdb8012b.4248","wires":[["accb5803.5334a8"]]},{"id":"8efdf129.71021","type":"json","name":"","x":907.9999961853027,"y":260.25000286102295,"z":"bdb8012b.4248","wires":[["e8905145.176fb"]]},{"id":"accb5803.5334a8","type":"json","name":"","x":915.7499961853027,"y":323.0000047683716,"z":"bdb8012b.4248","wires":[["e8905145.176fb"]]},{"id":"e8905145.176fb","type":"monitor","name":"Monitor","valor":"","x":1140.2499961853027,"y":264.75000381469727,"z":"bdb8012b.4248","wires":[]},{"id":"7d6956f3.8296a8","type":"template","name":"Luz","field":"payload","format":"json","template":"{\"type\":\"luz\",\"payload\":{{payload}}}","x":678.4999809265137,"y":173.74999904632568,"z":"bdb8012b.4248","wires":[["d9198783.26e678"]]},{"id":"d9198783.26e678","type":"json","name":"","x":815.4999809265137,"y":168.74999904632568,"z":"bdb8012b.4248","wires":[["e8905145.176fb"]]},{"id":"413e75c7.bec18c","type":"constante","name":"Constante","valor":"30","x":767.4999923706055,"y":603.7500066757202,"z":"bdb8012b.4248","wires":[[],["ca39995.f35c668"]]},{"id":"385e8b10.c7a174","type":"delay","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":728.7499923706055,"y":675.0000047683716,"z":"bdb8012b.4248","wires":[["558383a1.aa7c7c"]]},{"id":"fe574c00.01a8b","type":"delay","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":726.2499923706055,"y":723.7500047683716,"z":"bdb8012b.4248","wires":[["558383a1.aa7c7c"]]},{"id":"558383a1.aa7c7c","type":"constante","name":"Constante","valor":"140","x":951.25,"y":708.7500047683716,"z":"bdb8012b.4248","wires":[[],["ca39995.f35c668"]]},{"id":"50ea7a8b.af1584","type":"debug","name":"","active":true,"console":"false","complete":"false","x":491.25,"y":603.75,"z":"bdb8012b.4248","wires":[]},{"id":"cc4f97cb.33b068","type":"rgbleds","sid":"","f1":"","f2":"","f3":"","hexa":"3ea805","idmodulo":"40C0491D","idcentral":"40CC01EF","broker":"cd528da6.32ad7","x":882.5000152587891,"y":526.2500076293945,"z":"bdb8012b.4248","wires":[]},{"id":"74dba458.8b245c","type":"delay","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":708.75,"y":790,"z":"bdb8012b.4248","wires":[["558383a1.aa7c7c"]]},{"id":"4528e94a.bad718","type":"debug","name":"","active":true,"console":"false","complete":"false","x":732.5,"y":56.25,"z":"bdb8012b.4248","wires":[]},{"id":"c756ac0e.38a95","type":"debug","name":"","active":true,"console":"false","complete":"false","x":623.75,"y":225,"z":"bdb8012b.4248","wires":[]}]