user/lib/flows/estacionamiento
[{"id":"f0d4ce2f.0f2b3","type":"mqtt-broker-servo","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"72a23f1f.8d5dc","type":"mqtt-broker-presencia","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"86eaf023.79151","type":"presencia","name":"Presencia","idmodulo":"40CC01FA","idcentral":"40CC01EF","broker":"72a23f1f.8d5dc","x":359.04761123657227,"y":396.1905002593994,"z":"988b3d20.6774c","wires":[["16a0bbed.e95f44","cee4df1e.311b2","285c0d5d.d7a3f2"]]},{"id":"16a0bbed.e95f44","type":"switch","name":"Compara","property":"payload","rules":[{"t":"eq","v":"1"}],"checkall":"true","outputs":1,"x":552.0634460449219,"y":298.25391387939453,"z":"988b3d20.6774c","wires":[["8f9d4325.7062c"]]},{"id":"8f9d4325.7062c","type":"constante","name":"Constante","valor":"180","x":738.8888702392578,"y":325.5555534362793,"z":"988b3d20.6774c","wires":[["663d8f18.99c27"],["9ddeebab.622118"]]},{"id":"cee4df1e.311b2","type":"switch","name":"Compara","property":"payload","rules":[{"t":"eq","v":"0"}],"checkall":"true","outputs":1,"x":523.333309173584,"y":515.5555229187012,"z":"988b3d20.6774c","wires":[["f8001334.07fff"]]},{"id":"657a892e.9a8578","type":"constante","name":"Constante","valor":"90","x":826.6666946411133,"y":477.7777805328369,"z":"988b3d20.6774c","wires":[[],["9ddeebab.622118"]]},{"id":"76ca7279.89358c","type":"contador","name":"Counter","valor":"10","noti":"20","x":1154.4443969726562,"y":171.11109924316406,"z":"988b3d20.6774c","wires":[[],["b247bc8e.4db84"],[]]},{"id":"663d8f18.99c27","type":"incremento","name":"Incremento","x":973.3332595825195,"y":206.66665077209473,"z":"988b3d20.6774c","wires":[["76ca7279.89358c"]]},{"id":"bce4716b.431b9","type":"decremento","name":"Decremento","x":973.3332824707031,"y":153.3333625793457,"z":"988b3d20.6774c","wires":[["76ca7279.89358c"]]},{"id":"9e18059b.61e7f8","type":"inject","name":"","topic":"","payload":"Decremento","payloadType":"string","repeat":"","crontab":"","once":false,"x":768.8888549804688,"y":155.5555534362793,"z":"988b3d20.6774c","wires":[["663d8f18.99c27"]]},{"id":"b247bc8e.4db84","type":"template","name":"Conta","field":"payload","format":"json","template":"{\"type\":\"conta\", \"payload\":{{payload}}}","x":1234.444492340088,"y":300.0000057220459,"z":"988b3d20.6774c","wires":[["30003967.cfffc6"]]},{"id":"30003967.cfffc6","type":"json","name":"","x":1363.3333187103271,"y":298.88889503479004,"z":"988b3d20.6774c","wires":[["d10ce59c.2ef318"]]},{"id":"d10ce59c.2ef318","type":"monitor","name":"Monitor","valor":"","x":1494.4443664550781,"y":296.66665744781494,"z":"988b3d20.6774c","wires":[]},{"id":"285c0d5d.d7a3f2","type":"debug","name":"","active":true,"console":"false","complete":"false","x":750,"y":676.6666666666666,"z":"988b3d20.6774c","wires":[]},{"id":"b90b4cab.46f4b","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":1141.111111111111,"y":454.44444444444446,"z":"988b3d20.6774c","wires":[]},{"id":"9ddeebab.622118","type":"servomotor","name":"Servo","idmodulo":"40CC01FA","idcentral":"40CC01EF","broker":"f0d4ce2f.0f2b3","x":937.7777862548828,"y":406.6666889190674,"z":"988b3d20.6774c","wires":[["b90b4cab.46f4b"]]},{"id":"f8001334.07fff","type":"delay","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":685.5555114746094,"y":537.7777519226074,"z":"988b3d20.6774c","wires":[["657a892e.9a8578"]]}]