user/lib/flows/intel
[{"id":"408361a4.f4f69","type":"mqtt-broker","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"7945b1a3.86ba5","type":"mqtt-broker-temp","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"27ec280c.d813d8","type":"monitor","name":"Monitor","valor":"","x":944,"y":284,"z":"1fab2719.e054d9","wires":[]},{"id":"95efe802.6a1018","type":"template","name":"Humedad","field":"payload","format":"json","template":"{\"type\":\"hum\", \"payload\":{{payload}}}","x":562,"y":317,"z":"1fab2719.e054d9","wires":[["f6b1b6cd.094e48"]]},{"id":"f6b1b6cd.094e48","type":"json","name":"","x":653.8888549804688,"y":327.8888854980469,"z":"1fab2719.e054d9","wires":[["27ec280c.d813d8"]]},{"id":"74359e7e.8bca6","type":"template","name":"Temperatura","field":"payload","format":"json","template":"{\"type\":\"temp\", \"payload\":{{payload}}}","x":540,"y":413,"z":"1fab2719.e054d9","wires":[["7e74e2ea.818b1c"]]},{"id":"7e74e2ea.818b1c","type":"json","name":"","x":701,"y":497,"z":"1fab2719.e054d9","wires":[["27ec280c.d813d8"]]},{"id":"f48866bf.0b7798","type":"temp-hum","name":"Ambiente","idmodulo":"40CCF15","idcentral":"40CCF15","broker":"7945b1a3.86ba5","x":135,"y":207,"z":"1fab2719.e054d9","wires":[["74359e7e.8bca6","9dd057bf.c796d8"],["3768dbba.c89724","7bec75c0.65acfc"],["ec1a7ebc.13e58","3839f8d9.b3eac8"],["8660fd5f.959a6"]]},{"id":"3768dbba.c89724","type":"debug","name":"","active":false,"console":"false","complete":"false","x":341,"y":419,"z":"1fab2719.e054d9","wires":[]},{"id":"8608b626.79f748","type":"template","name":"RAD UV","field":"payload","format":"json","template":"{\"type\":\"rad\", \"payload\":{{payload}}}","x":492,"y":570,"z":"1fab2719.e054d9","wires":[["1203bbe.fedfc44"]]},{"id":"1203bbe.fedfc44","type":"json","name":"","x":678,"y":601,"z":"1fab2719.e054d9","wires":[["27ec280c.d813d8"]]},{"id":"60a0c7ae.9f5f38","type":"template","name":"Aire","field":"payload","format":"json","template":"{\"type\":\"aire\", \"payload\":{{payload}}}","x":478,"y":726,"z":"1fab2719.e054d9","wires":[["450fe811.baf018","810c1873.7ef3e8"]]},{"id":"450fe811.baf018","type":"json","name":"","x":624,"y":723,"z":"1fab2719.e054d9","wires":[["27ec280c.d813d8"]]},{"id":"e1072f9c.1ef8d","type":"inject","name":"","topic":"","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":224,"y":711,"z":"1fab2719.e054d9","wires":[["60a0c7ae.9f5f38"]]},{"id":"ae01c9e5.51fe38","type":"inject","name":"","topic":"","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":240,"y":759,"z":"1fab2719.e054d9","wires":[["60a0c7ae.9f5f38"]]},{"id":"810c1873.7ef3e8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":587,"y":673,"z":"1fab2719.e054d9","wires":[]},{"id":"ec1a7ebc.13e58","type":"range","minin":"0","maxin":"200","minout":"15","maxout":"0","action":"scale","round":false,"name":"","x":371,"y":631,"z":"1fab2719.e054d9","wires":[["8608b626.79f748","f76107e6.089ef8"]]},{"id":"f76107e6.089ef8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":515,"y":502,"z":"1fab2719.e054d9","wires":[]},{"id":"376e9446.a7848c","type":"inject","name":"","topic":"","payload":"35","payloadType":"string","repeat":"","crontab":"","once":false,"x":149,"y":372,"z":"1fab2719.e054d9","wires":[[]]},{"id":"ed796023.3645a","type":"inject","name":"","topic":"","payload":"22","payloadType":"string","repeat":"","crontab":"","once":false,"x":162,"y":421,"z":"1fab2719.e054d9","wires":[["74359e7e.8bca6"]]},{"id":"a56329d3.9c3c48","type":"inject","name":"","topic":"","payload":"5","payloadType":"string","repeat":"","crontab":"","once":false,"x":270,"y":544,"z":"1fab2719.e054d9","wires":[["8608b626.79f748"]]},{"id":"629a38c3.212118","type":"mqtt in","name":"","topic":"40CCF15","broker":"408361a4.f4f69","x":507,"y":257,"z":"1fab2719.e054d9","wires":[["9472b630.c57978"]]},{"id":"9472b630.c57978","type":"debug","name":"","active":false,"console":"false","complete":"false","x":688,"y":227,"z":"1fab2719.e054d9","wires":[]},{"id":"7bec75c0.65acfc","type":"debug","name":"","active":true,"console":"false","complete":"false","x":357,"y":131,"z":"1fab2719.e054d9","wires":[]},{"id":"9dd057bf.c796d8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":356,"y":62,"z":"1fab2719.e054d9","wires":[]},{"id":"3839f8d9.b3eac8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":358,"y":187,"z":"1fab2719.e054d9","wires":[]},{"id":"8660fd5f.959a6","type":"debug","name":"","active":true,"console":"false","complete":"false","x":360,"y":254,"z":"1fab2719.e054d9","wires":[]}]