user/lib/flows/inteliot
[{"id":"7945b1a3.86ba5","type":"mqtt-broker-temp","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"cf5877b8.0850c8","type":"monitor","name":"Monitor","valor":"","x":971.5,"y":301,"z":"784d89ab.b061d8","wires":[]},{"id":"f85d06c8.782f28","type":"template","name":"Presión","field":"payload","format":"json","template":"{\"type\":\"pre\", \"payload\":{{payload}}}","x":606.5,"y":246,"z":"784d89ab.b061d8","wires":[["9f7f152f.cf85e8"]]},{"id":"9f7f152f.cf85e8","type":"json","name":"","x":778.3888549804688,"y":251.88888549804688,"z":"784d89ab.b061d8","wires":[["cf5877b8.0850c8"]]},{"id":"20306d04.c6ca82","type":"template","name":"Temperatura","field":"payload","format":"json","template":"{\"type\":\"temp\", \"payload\":{{payload}}}","x":626.5,"y":170,"z":"784d89ab.b061d8","wires":[["b830df89.b6644"]]},{"id":"b830df89.b6644","type":"json","name":"","x":800.5,"y":150,"z":"784d89ab.b061d8","wires":[["cf5877b8.0850c8"]]},{"id":"6037e597.a6506c","type":"temp-hum","name":"Ambiente","idmodulo":"40CCF15","idcentral":"40CCF15","broker":"7945b1a3.86ba5","x":125.5,"y":216,"z":"784d89ab.b061d8","wires":[["20306d04.c6ca82","bb551fc6.25842"],["ff64aa3e.518558","f85d06c8.782f28"],["4ab0c017.b2cda","dc8ad381.c26dc"],["adbc827.c18d28","c3fc3a58.348e18"]]},{"id":"dc8ad381.c26dc","type":"template","name":"RAD UV","field":"payload","format":"json","template":"{\"type\":\"rad\", \"payload\":{{payload}}}","x":591.5,"y":359,"z":"784d89ab.b061d8","wires":[["343370d1.8a3a6"]]},{"id":"343370d1.8a3a6","type":"json","name":"","x":746.5,"y":360,"z":"784d89ab.b061d8","wires":[["cf5877b8.0850c8"]]},{"id":"c3fc3a58.348e18","type":"template","name":"Aire","field":"payload","format":"json","template":"{\"type\":\"aire\", \"payload\":{{payload}}}","x":595.5,"y":453,"z":"784d89ab.b061d8","wires":[["b35505b7.5b3098","4218e944.a7a5d8"]]},{"id":"b35505b7.5b3098","type":"json","name":"","x":767.5,"y":464,"z":"784d89ab.b061d8","wires":[["cf5877b8.0850c8"]]},{"id":"ff64aa3e.518558","type":"debug","name":"","active":true,"console":"false","complete":"false","x":384.5,"y":148,"z":"784d89ab.b061d8","wires":[]},{"id":"bb551fc6.25842","type":"debug","name":"","active":true,"console":"false","complete":"false","x":383.5,"y":79,"z":"784d89ab.b061d8","wires":[]},{"id":"4ab0c017.b2cda","type":"debug","name":"","active":true,"console":"false","complete":"false","x":385.5,"y":204,"z":"784d89ab.b061d8","wires":[]},{"id":"adbc827.c18d28","type":"debug","name":"","active":true,"console":"false","complete":"false","x":373.5,"y":263,"z":"784d89ab.b061d8","wires":[]},{"id":"4174bcb1.96cbc4","type":"inject","name":"","topic":"","payload":"201","payloadType":"string","repeat":"","crontab":"","once":false,"x":421,"y":484,"z":"784d89ab.b061d8","wires":[["c3fc3a58.348e18"]]},{"id":"4218e944.a7a5d8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":761,"y":580,"z":"784d89ab.b061d8","wires":[]}]