user/lib/flows/sensores
[{"id":"cd528da6.32ad7","type":"mqtt-broker-rgbleds","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"72a23f1f.8d5dc","type":"mqtt-broker-presencia","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"f0d4ce2f.0f2b3","type":"mqtt-broker-servo","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"b7553e2f.48aac","type":"mqtt-broker-rfid","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"7cbae6b9.834518","type":"mqtt-broker-ldr","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"46e419d7.b91be8","type":"mqtt-broker-temp","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"840639d5.7bf9c8","type":"temp-hum","name":"Ambiente","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"46e419d7.b91be8","x":399,"y":306,"z":"988b3d20.6774c","wires":[["999bfb33.666408","330f1098.ccf0f"],["86ecd88a.791328","3a4c7833.c5b388"]]},{"id":"999bfb33.666408","type":"debug","name":"","active":true,"console":"false","complete":"false","x":676,"y":241,"z":"988b3d20.6774c","wires":[]},{"id":"86ecd88a.791328","type":"debug","name":"","active":true,"console":"false","complete":"false","x":660,"y":358,"z":"988b3d20.6774c","wires":[]},{"id":"ceba1375.3145f","type":"ldr","name":"Sensor de Iluminación","iluminacionselec":"440","idmodulo":"40BDA1CA1","idcentral":"40CC01EF","broker":"7cbae6b9.834518","x":410,"y":128,"z":"988b3d20.6774c","wires":[["29285759.d6d7a8"],[]]},{"id":"4fbdc8b8.b04238","type":"rfid","name":"RFID","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"b7553e2f.48aac","x":399,"y":490,"z":"988b3d20.6774c","wires":[["35204a7.fcadfb6"]]},{"id":"35204a7.fcadfb6","type":"debug","name":"","active":true,"console":"false","complete":"false","x":666,"y":495,"z":"988b3d20.6774c","wires":[]},{"id":"330f1098.ccf0f","type":"template","name":"Temperatura","field":"payload","format":"json","template":"{\"type\":\"temp\",\"payload\":{{payload}}}","x":880,"y":268,"z":"988b3d20.6774c","wires":[["e2b40647.1d4bf8"]]},{"id":"3a4c7833.c5b388","type":"template","name":"Hum","field":"payload","format":"json","template":"{\"type\":\"hum\", \"payload\":{{payload}}}","x":868,"y":321,"z":"988b3d20.6774c","wires":[["b161c6ed.4e9e38"]]},{"id":"e2b40647.1d4bf8","type":"json","name":"","x":1027,"y":250,"z":"988b3d20.6774c","wires":[["fc0ceabf.03f318"]]},{"id":"b161c6ed.4e9e38","type":"json","name":"","x":1016,"y":339,"z":"988b3d20.6774c","wires":[["fc0ceabf.03f318"]]},{"id":"fc0ceabf.03f318","type":"monitor","name":"Monitor","valor":"","x":1213,"y":282,"z":"988b3d20.6774c","wires":[]},{"id":"29285759.d6d7a8","type":"template","name":"Luz","field":"payload","format":"json","template":"{\"type\":\"luz\",\"payload\":{{payload}}}","x":855,"y":101,"z":"988b3d20.6774c","wires":[["cccc5224.3333b"]]},{"id":"cccc5224.3333b","type":"json","name":"","x":992,"y":96,"z":"988b3d20.6774c","wires":[["fc0ceabf.03f318"]]},{"id":"d2fa220a.2d05e","type":"servomotor","name":"Servo","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"f0d4ce2f.0f2b3","x":661,"y":583,"z":"988b3d20.6774c","wires":[[]]},{"id":"3bc3c470.c43c3c","type":"inject","name":"","topic":"","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":407,"y":579,"z":"988b3d20.6774c","wires":[["d2fa220a.2d05e"]]},{"id":"9ffe8923.600178","type":"presencia","name":"Presencia","idmodulo":"40CC01FA","idcentral":"40CC01EF","broker":"72a23f1f.8d5dc","x":384,"y":694,"z":"988b3d20.6774c","wires":[["b9a0a113.465f6"]]},{"id":"b9a0a113.465f6","type":"debug","name":"","active":true,"console":"false","complete":"false","x":640,"y":695,"z":"988b3d20.6774c","wires":[]},{"id":"d45c426d.2ba3c","type":"rgbleds","sid":"","f1":"","f2":"","f3":"","hexa":"1c669c","idmodulo":"40BDA1CA","idcentral":"40CC01EF","broker":"cd528da6.32ad7","x":626,"y":793,"z":"988b3d20.6774c","wires":[]},{"id":"b49bf4a3.4b6408","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":422,"y":796,"z":"988b3d20.6774c","wires":[["d45c426d.2ba3c"]]}]