user/lib/flows/Smartcity
[{"id":"15bc45f9.ea43ba","type":"mqtt-broker-ldr","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"7945b1a3.86ba5","type":"mqtt-broker-temp","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"27ec280c.d813d8","type":"monitor","name":"Monitor","valor":"","x":693,"y":183,"z":"1fab2719.e054d9","wires":[]},{"id":"95efe802.6a1018","type":"template","name":"Humedad","field":"payload","format":"json","template":"{\"type\":\"hum\", \"payload\":{{payload}}}","x":455,"y":305,"z":"1fab2719.e054d9","wires":[["f6b1b6cd.094e48"]]},{"id":"f6b1b6cd.094e48","type":"json","name":"","x":653.8888549804688,"y":327.8888854980469,"z":"1fab2719.e054d9","wires":[["27ec280c.d813d8"]]},{"id":"74359e7e.8bca6","type":"template","name":"Temperatura","field":"payload","format":"json","template":"{\"type\":\"temp\", \"payload\":{{payload}}}","x":540,"y":413,"z":"1fab2719.e054d9","wires":[["7e74e2ea.818b1c"]]},{"id":"7e74e2ea.818b1c","type":"json","name":"","x":701,"y":497,"z":"1fab2719.e054d9","wires":[["27ec280c.d813d8"]]},{"id":"f48866bf.0b7798","type":"temp-hum","name":"Ambiente","idmodulo":"40CC01FA","idcentral":"40CC01EF","broker":"7945b1a3.86ba5","x":215,"y":318,"z":"1fab2719.e054d9","wires":[["74359e7e.8bca6","3cecc5d0.c3133a"],["95efe802.6a1018","3768dbba.c89724"]]},{"id":"3cecc5d0.c3133a","type":"debug","name":"","active":true,"console":"false","complete":"false","x":441,"y":190,"z":"1fab2719.e054d9","wires":[]},{"id":"3768dbba.c89724","type":"debug","name":"","active":true,"console":"false","complete":"false","x":341,"y":419,"z":"1fab2719.e054d9","wires":[]},{"id":"79c60b2b.8639f4","type":"ldr","name":"Sensor de Iluminación","iluminacionselec":"125","idmodulo":"40CC01FF","idcentral":"40CC01EF","broker":"15bc45f9.ea43ba","x":178,"y":540,"z":"1fab2719.e054d9","wires":[[],["ec1a7ebc.13e58"]]},{"id":"8608b626.79f748","type":"template","name":"RAD UV","field":"payload","format":"json","template":"{\"type\":\"rad\", \"payload\":{{payload}}}","x":492,"y":570,"z":"1fab2719.e054d9","wires":[["1203bbe.fedfc44"]]},{"id":"1203bbe.fedfc44","type":"json","name":"","x":678,"y":601,"z":"1fab2719.e054d9","wires":[["27ec280c.d813d8"]]},{"id":"60a0c7ae.9f5f38","type":"template","name":"Aire","field":"payload","format":"json","template":"{\"type\":\"aire\", \"payload\":{{payload}}}","x":478,"y":726,"z":"1fab2719.e054d9","wires":[["450fe811.baf018","810c1873.7ef3e8"]]},{"id":"450fe811.baf018","type":"json","name":"","x":624,"y":723,"z":"1fab2719.e054d9","wires":[["27ec280c.d813d8"]]},{"id":"e1072f9c.1ef8d","type":"inject","name":"","topic":"","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":224,"y":711,"z":"1fab2719.e054d9","wires":[["60a0c7ae.9f5f38"]]},{"id":"ae01c9e5.51fe38","type":"inject","name":"","topic":"","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":240,"y":759,"z":"1fab2719.e054d9","wires":[["60a0c7ae.9f5f38"]]},{"id":"810c1873.7ef3e8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":587,"y":673,"z":"1fab2719.e054d9","wires":[]},{"id":"ec1a7ebc.13e58","type":"range","minin":"0","maxin":"200","minout":"15","maxout":"0","action":"scale","round":false,"name":"","x":371,"y":631,"z":"1fab2719.e054d9","wires":[["8608b626.79f748"]]}]