user/.flows_Alberto.local.json.backup
[{"type":"tab","id":"988b3d20.6774c","label":"Sheet 1"},{"id":"46e419d7.b91be8","type":"mqtt-broker-temp","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"f0d4ce2f.0f2b3","type":"mqtt-broker-servo","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"7eb67a51.814984","type":"temp-hum","name":"Ambiente","idmodulo":"130592","idcentral":"40CCF15","broker":"46e419d7.b91be8","x":183,"y":240,"z":"988b3d20.6774c","wires":[["a79194b9.586e68"],["a79194b9.586e68"]]},{"id":"a79194b9.586e68","type":"compara-2","valor":"","op":"1","x":410,"y":231,"z":"988b3d20.6774c","wires":[["cb5518d2.34aae8"]]},{"id":"cb5518d2.34aae8","type":"switch","name":"Redirect","property":"payload","rules":[{"t":"eq","v":"1"}],"checkall":"true","outputs":1,"x":538,"y":271,"z":"988b3d20.6774c","wires":[["ca9fa207.35606"]]},{"id":"ca9fa207.35606","type":"debug","name":"","active":true,"console":"false","complete":"false","x":760,"y":315,"z":"988b3d20.6774c","wires":[]}]