user/.flows_Alberto.local.json.backup
[{"type":"tab","id":"988b3d20.6774c","label":"Sheet 1"},{"id":"5fdd0213.a022fc","type":"mqtt-broker","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"14f96a33.eb0696","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"ac4f7806.53b088","type":"mqtt-brokersen","broker":"localhost","port":"1883","clientid":""},{"id":"3488c9ca.cb7736","type":"mqtt-brokersen","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"927dd76.f6d8228","type":"mqtt-brokersen","broker":"broker.mqttdashboard.com","port":"1883","clientid":""},{"id":"9ffe63a7.6001a","type":"temp-hum","name":"Ambiente","idmodulo":"130592","idcentral":"40CCF15","broker":"3488c9ca.cb7736","x":275,"y":387,"z":"988b3d20.6774c","wires":[["b8a3f2d0.475c1"],["e6aef28.f19511"]]},{"id":"b8a3f2d0.475c1","type":"debug","name":"ok1","active":true,"console":"false","complete":"payload","x":553,"y":350,"z":"988b3d20.6774c","wires":[]},{"id":"e6aef28.f19511","type":"debug","name":"1ok1","active":true,"console":"false","complete":"payload","x":559,"y":445,"z":"988b3d20.6774c","wires":[]}]