user/.flows_MacBook-Pro-de-Alberto.local.json.backup
[{"type":"tab","id":"946faa76.a5aa28","label":"Hoja 1"},{"id":"7d975b9.8a160a4","type":"mqtt-broker","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"76cab7a6.7b42e8","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"4309a13c.7268b","type":"mqtt-broker-temp","broker":"broker.hivemq.com","port":"1883","clientid":""},{"id":"bfde98aa.d228d8","type":"monitor","name":"Monitor","valor":"","x":893.5,"y":332,"z":"946faa76.a5aa28","wires":[]},{"id":"3e6448b2.fcf9e8","type":"template","name":"Presion","field":"payload","format":"json","template":"{\"type\":\"pre\", \"payload\":{{payload}}}","x":419.5,"y":263,"z":"946faa76.a5aa28","wires":[["70de4c1a.e14944"]]},{"id":"70de4c1a.e14944","type":"json","name":"","x":619.3888549804688,"y":335.8888854980469,"z":"946faa76.a5aa28","wires":[["bfde98aa.d228d8"]]},{"id":"77d08dab.acf034","type":"template","name":"Temperatura","field":"payload","format":"json","template":"{\"type\":\"temp\", \"payload\":{{payload}}}","x":429.5,"y":314,"z":"946faa76.a5aa28","wires":[["8fee2f10.20351","50c1ab9b.4e4304"]]},{"id":"8fee2f10.20351","type":"json","name":"","x":581.5,"y":405,"z":"946faa76.a5aa28","wires":[["bfde98aa.d228d8"]]},{"id":"9fec3e3.64d8bc","type":"temp-hum","name":"Ambiente","idmodulo":"40CCF15","idcentral":"40CCF15","broker":"4309a13c.7268b","x":59.5,"y":215,"z":"946faa76.a5aa28","wires":[["77d08dab.acf034","d9e1af3a.b8b91"],["dc2bf735.df8a38","3e6448b2.fcf9e8"],["e933e943.b310d8","2cb964d2.5bb77c"],["773b6a7a.3e7724","71da5aff.f134b4"]]},{"id":"dc2bf735.df8a38","type":"debug","name":"","active":true,"console":"false","complete":"false","x":413.5,"y":475,"z":"946faa76.a5aa28","wires":[]},{"id":"7e1360cb.f8315","type":"template","name":"RAD UV","field":"payload","format":"json","template":"{\"type\":\"rad\", \"payload\":{{payload}}}","x":353.5,"y":625,"z":"946faa76.a5aa28","wires":[["4f32d550.42003c","72414c18.8807b4"]]},{"id":"4f32d550.42003c","type":"json","name":"","x":558.5,"y":609,"z":"946faa76.a5aa28","wires":[["bfde98aa.d228d8"]]},{"id":"666b7ad7.3bcb04","type":"template","name":"Aire","field":"payload","format":"json","template":"{\"type\":\"aire\", \"payload\":{{payload}}}","x":514.5,"y":813,"z":"946faa76.a5aa28","wires":[["82584fab.07852","6255f6d4.f5e958"]]},{"id":"82584fab.07852","type":"json","name":"","x":548.5,"y":731,"z":"946faa76.a5aa28","wires":[["bfde98aa.d228d8"]]},{"id":"a0ed9efd.84b49","type":"inject","name":"","topic":"","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":148.5,"y":719,"z":"946faa76.a5aa28","wires":[["666b7ad7.3bcb04"]]},{"id":"1ba91c0e.00a2b4","type":"inject","name":"","topic":"","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":164.5,"y":767,"z":"946faa76.a5aa28","wires":[["666b7ad7.3bcb04"]]},{"id":"6255f6d4.f5e958","type":"debug","name":"","active":true,"console":"false","complete":"false","x":466.5,"y":670,"z":"946faa76.a5aa28","wires":[]},{"id":"e933e943.b310d8","type":"range","minin":"0","maxin":"11","minout":"0","maxout":"11","action":"scale","round":false,"name":"","x":280.5,"y":567,"z":"946faa76.a5aa28","wires":[["7e1360cb.f8315"]]},{"id":"72414c18.8807b4","type":"debug","name":"","active":true,"console":"false","complete":"false","x":536.5,"y":528,"z":"946faa76.a5aa28","wires":[]},{"id":"f249cf33.5264b","type":"inject","name":"","topic":"","payload":"1013","payloadType":"string","repeat":"","crontab":"","once":false,"x":90.5,"y":326,"z":"946faa76.a5aa28","wires":[["3e6448b2.fcf9e8"]]},{"id":"f7027ad1.e61e58","type":"inject","name":"","topic":"","payload":"23","payloadType":"string","repeat":"","crontab":"","once":false,"x":86.5,"y":429,"z":"946faa76.a5aa28","wires":[["77d08dab.acf034"]]},{"id":"be80947c.042a78","type":"inject","name":"","topic":"","payload":"4","payloadType":"string","repeat":"","crontab":"","once":false,"x":87.5,"y":642,"z":"946faa76.a5aa28","wires":[["e933e943.b310d8"]]},{"id":"38aa8720.c99278","type":"mqtt in","name":"","topic":"40CCF15","broker":"76cab7a6.7b42e8","x":468.5,"y":159,"z":"946faa76.a5aa28","wires":[["c620d55e.c89c18"]]},{"id":"c620d55e.c89c18","type":"debug","name":"","active":true,"console":"false","complete":"false","x":612.5,"y":235,"z":"946faa76.a5aa28","wires":[]},{"id":"d9e1af3a.b8b91","type":"debug","name":"","active":false,"console":"false","complete":"false","x":276.5,"y":64,"z":"946faa76.a5aa28","wires":[]},{"id":"2cb964d2.5bb77c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":320.5,"y":207,"z":"946faa76.a5aa28","wires":[]},{"id":"773b6a7a.3e7724","type":"debug","name":"","active":false,"console":"false","complete":"false","x":137.5,"y":381,"z":"946faa76.a5aa28","wires":[]},{"id":"50c1ab9b.4e4304","type":"debug","name":"","active":true,"console":"false","complete":"false","x":585,"y":294,"z":"946faa76.a5aa28","wires":[]},{"id":"71da5aff.f134b4","type":"switch","name":"calidad","property":"payload","rules":[{"t":"lte","v":"170"},{"t":"btwn","v":"171","v2":"250"},{"t":"btwn","v":"25","v2":"350"}],"checkall":"true","outputs":3,"x":150,"y":870,"z":"946faa76.a5aa28","wires":[["cac09ab.8bf4f68"],["c6581f32.18f61"],["b4ca05f2.c52498"]]},{"id":"cac09ab.8bf4f68","type":"constante","name":"Constante","valor":"0","x":302,"y":833,"z":"946faa76.a5aa28","wires":[["666b7ad7.3bcb04"],[]]},{"id":"c6581f32.18f61","type":"constante","name":"Constante","valor":"1","x":360,"y":874,"z":"946faa76.a5aa28","wires":[["666b7ad7.3bcb04"],[]]},{"id":"b4ca05f2.c52498","type":"constante","name":"Constante","valor":"2","x":354,"y":935,"z":"946faa76.a5aa28","wires":[["666b7ad7.3bcb04"],[]]}]