user/.flows_Alberto.local.json.backup
[{"type":"tab","id":"988b3d20.6774c","label":"Sheet 1"},{"id":"5fdd0213.a022fc","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"f9a1ea26.065e18","type":"mqtt in","name":"","topic":"apagado","broker":"5fdd0213.a022fc","x":207,"y":398,"z":"988b3d20.6774c","wires":[["83ab75d3.7c5488"]]},{"id":"83ab75d3.7c5488","type":"sensor-luz","name":"sensor luz","x":358,"y":404,"z":"988b3d20.6774c","wires":[["96304edd.69cfb"]]},{"id":"96304edd.69cfb","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":574,"y":399,"z":"988b3d20.6774c","wires":[]}]