user/flows_Alberto.local.json
[{"type":"tab","id":"988b3d20.6774c","label":"Sheet 1"},{"id":"5fdd0213.a022fc","type":"mqtt-broker","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"14f96a33.eb0696","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"ac4f7806.53b088","type":"mqtt-brokersen","broker":"localhost","port":"1883","clientid":""},{"id":"3488c9ca.cb7736","type":"mqtt-brokersen","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"927dd76.f6d8228","type":"mqtt-brokersen","broker":"broker.mqttdashboard.com","port":"1883","clientid":""},{"id":"c422fd10.3bdd","type":"debug","name":"hola","active":true,"console":"false","complete":"payload","x":635,"y":295,"z":"988b3d20.6774c","wires":[]},{"id":"c2030f44.3dfcf","type":"debug","name":"hola1","active":true,"console":"false","complete":"payload","x":600,"y":508,"z":"988b3d20.6774c","wires":[]},{"id":"9ffe63a7.6001a","type":"temp-hum","name":"Ambiente","idmodulo":"130592","idcentral":"40CCF15","broker":"927dd76.f6d8228","x":275,"y":387,"z":"988b3d20.6774c","wires":[["c422fd10.3bdd"],["c2030f44.3dfcf"]]}]