user/flows_Alberto.local.json
[{"type":"tab","id":"988b3d20.6774c","label":"Sheet 1"},{"id":"46e419d7.b91be8","type":"mqtt-broker-temp","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"f0d4ce2f.0f2b3","type":"mqtt-broker-servo","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"b7553e2f.48aac","type":"mqtt-broker-rfid","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"70fc6844.8f0398","type":"monitor","name":"Monitor","valor":"","x":768,"y":91,"z":"988b3d20.6774c","wires":[]},{"id":"78d4ae7.f872b5","type":"template","name":"Temp","field":"payload","format":"json","template":"{\"type\":\"temp\", \"payload\":\"{{payload}}\"}","x":451,"y":78,"z":"988b3d20.6774c","wires":[["c8b5825c.374a8"]]},{"id":"f17c529e.0e83b","type":"template","name":"Hum","field":"payload","format":"json","template":"{\"type\":\"hum\", \"payload\":\"{{payload}}\"}","x":473,"y":163,"z":"988b3d20.6774c","wires":[["eb7e5a7b.1481a8"]]},{"id":"c8b5825c.374a8","type":"json","name":"","x":585,"y":78,"z":"988b3d20.6774c","wires":[["70fc6844.8f0398"]]},{"id":"eb7e5a7b.1481a8","type":"json","name":"","x":636,"y":190,"z":"988b3d20.6774c","wires":[["70fc6844.8f0398"]]},{"id":"8b6bbd36.74944","type":"decremento","name":"Decremento","x":253,"y":546,"z":"988b3d20.6774c","wires":[["f89968c4.076698"]]},{"id":"2d594cc8.d2a6b4","type":"incremento","name":"Incremento","x":255,"y":491,"z":"988b3d20.6774c","wires":[["f89968c4.076698"]]},{"id":"f89968c4.076698","type":"contador","name":"Counter","valor":"10","noti":"15","x":525,"y":538,"z":"988b3d20.6774c","wires":[[],["4dc7befd.b2384"],[]]},{"id":"a7050dcd.58faf","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":178,"y":682,"z":"988b3d20.6774c","wires":[["8b6bbd36.74944"]]},{"id":"38661714.c799e8","type":"json","name":"","x":875,"y":394,"z":"988b3d20.6774c","wires":[["70fc6844.8f0398"]]},{"id":"4dc7befd.b2384","type":"template","name":"Conta","field":"payload","format":"json","template":"{\"type\":\"conta\", \"payload\":\"{{payload}}\"}","x":693,"y":430,"z":"988b3d20.6774c","wires":[["38661714.c799e8"]]},{"id":"8d7cf90e.728308","type":"temp-hum","name":"Ambiente","idmodulo":"40CC01EF","idcentral":"40C0491D","broker":"46e419d7.b91be8","x":160,"y":109,"z":"988b3d20.6774c","wires":[["78d4ae7.f872b5"],["f17c529e.0e83b","2d594cc8.d2a6b4"]]},{"id":"b4dbd0ec.4b243","type":"rfid","name":"RFID","idmodulo":"40E64203","idcentral":"40C0491D","broker":"b7553e2f.48aac","x":394,"y":384,"z":"988b3d20.6774c","wires":[["cc867b0d.337988"]]},{"id":"cc867b0d.337988","type":"debug","name":"","active":true,"console":"false","complete":"false","x":618,"y":373,"z":"988b3d20.6774c","wires":[]}]