user/flows_Alberto.local.json
[{"type":"tab","id":"988b3d20.6774c","label":"Sheet 1"},{"id":"5fdd0213.a022fc","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"f9a1ea26.065e18","type":"mqtt in","name":"","topic":"apagado","broker":"5fdd0213.a022fc","x":194,"y":358,"z":"988b3d20.6774c","wires":[["e192580c.1e6da8"]]},{"id":"96304edd.69cfb","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":574,"y":399,"z":"988b3d20.6774c","wires":[]},{"id":"e192580c.1e6da8","type":"temp-hum","name":"Ambiente","x":378,"y":396,"z":"988b3d20.6774c","wires":[["96304edd.69cfb"],["c0a5728c.3f5a9"]]},{"id":"c0a5728c.3f5a9","type":"debug","name":"","active":true,"console":"false","complete":"false","x":606,"y":480,"z":"988b3d20.6774c","wires":[]}]